<!DOCTYPE html>
<html>
    <head>
        <title>Drone Analytics</title>
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <!-- this refreshes the site -->
        <!-- <meta http-equiv="refresh" content="1"/> -->
        <!-- <style>
            THIS IS WHERE CSS comes in but im not doing that now
        </style> -->
    </head>
    <body>
        <h1>IMU Data:</h1>
        <p id="heading">Heading: ... deg</p>
        <p id="roll">Roll: ... deg</p>
        <p id="pitch">Pitch: ... deg</p>
        <!-- this script updates without changing the whole page -->
        <script>
            async function updateIMU(){
                try {
                    // fetches the counter values from the data endpoint
                    // whenever the data endpoint is accessed the count changes
                    const res = await fetch("/imudata");
                    const data = await res.json();

                    document.getElementById("heading").textContent = "Heading: " + data.heading + " deg";
                    document.getElementById("roll").textContent = "Roll: " + data.roll + " deg";
                    document.getElementById("pitch").textContent = "Pitch: " + data.pitch + " deg";
                } catch (err){
                    console.error(err)
                }
            }

            // set up the script update interval
            // parameters:
            // function to run at intervals
            // interval in milliseconds
            setInterval(updateIMU, 10); 
            updateIMU(); // run once immediately
        </script>
    </body>
</html>